@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0c001d;
  color: whitesmoke;
}

/* Sidebar tailwind */

.mainBox {
  display: flex;
  width: 100%;
}

.line {
  border-top: 1px rgb(214, 199, 255) solid;
  width: 100%;
  margin: 5vh 0;
}

h3 {
  text-align: center;
  margin: 15px;
}

.sidebar {
  width: 20%;
}

ul {
  list-style: none;
  width: 100%;
  min-height: 100%;
}

li {
  padding: 5px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.tweet-image {
  max-width: 600px;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid rgb(174, 174, 174);
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid rgb(90, 61, 255);
}

.form2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
}

.form3 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
}

.form4 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
}

.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 2vh;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(75, 0, 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.pop-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

form {
  width: 60%;
}

.forms input {
  width: 100%;
  display: flex;
  padding: 5px;
}

label {
  color: whitesmoke;
  width: 100%;
  display: flex;
  padding: 5px;
  margin-top: 15px;
}

textarea {
  resize: none;
  width: 100%;
  max-height: 150px;
  display: flex;
  padding: 5px;
  border-radius: 12px;
  border: 1.5px solid rgb(174, 174, 174);
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

textarea:hover {
  border: 2px solid lightgrey;
}

textarea:active {
  transform: scale(0.95);
}

textarea:focus {
  border: 2px solid rgb(90, 61, 255);
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 360%;
  max-height: 100px;
  margin: 15px;
  min-width: 100px;
  display: flex;
  justify-self: center;
}

.p-center {
  justify-self: center;
}

.tweet-content p {
  max-width: 600px;
  overflow: auto;
}

.user-avatar {
  border-radius: 360%;
  max-height: 70px;
  margin: 15px;
  min-width: 70px;
  display: flex;
  justify-self: center;
  object-fit: cover;
}

.top-username {
  margin-bottom: 2vh;
}

.lasted-tweets {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e8ed;
  padding: 2vh 0;
}

.tweet-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
}

.deleteBtn {
  background-color: red;
}

.mention,
.hashtag {
  color: #6f47b8;
}
.mention:hover,
.hashtag:hover {
  text-decoration: underline;
}
/* Sidebar end */

.tweet-btn {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  margin-top: 0.8vh;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  width: 30%;
  background-color: rgb(75, 0, 179);
  border-radius: 9999px;
  justify-self: end;
  align-items: center;
  color: #ffff;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 15px;
}

.tweet-btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.tweet-btn:hover .icon {
  transform: translate(4px);
}

.tweet-btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.tweet-btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.tweets {
  display: grid;
}

.response {
  width: max-content;
  justify-self: end;
  border-radius: 9999px;
  margin-top: 0;
  bottom: 20px;
}

.response::before {
  opacity: 0;
}

.contain-home {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

/* Sidebar Gauche */

nav ul {
  list-style: none;
}

nav ul li {
  margin: 15px 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

.custom-file-upload {
  width: max-content;
  margin-top: 2px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tweet-content {
  color: black;
}

.tweet-box {
  color: black;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e8ed;
}

.tweet-box form {
  display: grid;
  width: 100%;
}

.tweet-box form .tweet-btn {
  bottom: 55px;
}

.tweet-box .tweet-area {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  resize: none;
  font-size: 20px;
}

.tweets .tweet-content {
  background-color: white;
  padding: 15px;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tweets {
  margin-bottom: 2.5vh;
  border-bottom: 1px solid #dadada54;
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet-header .username {
  font-weight: bold;
}

.tweet-image {
  max-width: 600px;
  border-radius: 5px;
}

/* Sidebar Droite */
.sidebar-right {
  width: 300px;
  padding: 20px;
  border-left: 1px solid #e1e8ed;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 20px;
  font-size: 16px;
}

.suggest,
.hashtags {
  margin-top: 20px;
  border: 1px #e1e8ed solid;
  border-radius: 10px;
}

.suggest h2,
.hashtags h2 {
  padding: 10px;
  width: 100%;
  font-weight: bold;
}

.under-line {
  width: 100%;
  border-top: 1px solid #c0c0c0a2;
}

.suggest ul,
.hashtags ul {
  list-style: none;
}

.suggest ul li a,
.hashtags ul li a {
  text-decoration: none;
  color: #1da1f2;
}

.head {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 20px;
  max-height: 500px;
}

.photo {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 100px;
  gap: 15px;
}

.left {
  display: flex;
  align-items: center;
  margin-right: 100px;
  justify-self: left;
}

.mess {
  border: 1px solid black;
}

.p {
  padding-top: 10px;
}

.pg {
  color: rgb(150, 148, 148);
  font-size: 0.7em;
}

.counters {
  display: flex;
  gap: 50px;
  margin-top: 15px;
}

.follow-btn {
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 120px;
  font-size: 0.8em;
  height: 35px;
}

.follow-btn:hover {
  transform: scale(102%);
  border: solid white 1px;
}

.follow-btn:active {
  background-color: black;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar,
  .sidebar-right {
    display: none;
  }

  .main-content {
    padding: 10px;
  }
}

.suggest .suggestion-item {
  display: flex;
  flex-direction: row;
  gap: 1.5vh;
  padding: 1vh 0;
  border-top: 1px whitesmoke solid;
  align-items: center;
  padding-right: 50px;
}
.suggest .suggestion-item:hover {
  cursor: pointer;
  background-color: #581c87;
  color: whitesmoke;
}

.hashtags .suggestion-item {
  padding: 1vh 0;
  border-top: 1px whitesmoke solid;
}
.hashtags .suggestion-item:hover {
  cursor: pointer;
  background-color: #581c87;
  color: whitesmoke;
}

#users,
#hashtags {
  padding: 5px;
}
